<!DOCTYPE html>
<html lang="en">
<body>
  
    <!-- <footer class="bg-light text-center text-lg-start">
        <!-- Copyright --
            <div class="text-center p-3" style="background-color: #343a40; color: white;">
              © 2021 Copyright:
              <a href="/">TecFind.It</a>
            </div>
        <!-- Copyright --
    </footer>-->
    
</body>
</html>