<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TecFind.it</title>
    <!-- <link rel="stylesheet" href="../../public/assets/mau.css" type="text/css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    
</head>

<body>
    
    <nav class="navbar navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="http://localhost:3000/">TecFind.it</a>
    </nav>

    <p class="mau">Hola</p>

</body>
</html>